.ai-insights {
  padding-left: 40px;
  padding: 20px;
}

.ai-insights h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: underline;
}

.ai-insights ul {
  padding: 0;
  margin: 0;
}

.ai-insights li {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
  line-height: 1.5;
}

.ai-insights li:first-child {
  font-weight: bold;
  color: #007bff;
}

.ai-insights li.green-color {
  color: green;
}

.ai-insights li.red-color {
  color: red;
}
