/* AIInsights.css */
.ai-insights {
  padding: 20px;
  margin: auto;
  max-width: 1200px;
}

.ai-insights h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: underline;
}

.ai-insights ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ai-insights li {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: center; /* Align text to the left */
}

.ai-insights li:first-child {
  font-weight: bold;
  color: #007bff;
}

.ai-insights li.green-color {
  color: green;
}

.ai-insights li.red-color {
  color: red;
}

@media (max-width: 768px) {
  .ai-insights {
    padding: 15px;
  }

  .ai-insights h2 {
    font-size: 20px;
  }

  .ai-insights li {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .ai-insights {
    padding: 10px;
  }

  .ai-insights h2 {
    font-size: 18px;
  }

  .ai-insights li {
    font-size: 14px;
  }

  .ai-insights li {
    display: block;
    white-space: pre-line; /* Allows breaking lines within the text */
  }
}
