/* AIInsights.css */

body {
  background: linear-gradient(135deg, #f0f4f8 0%, #d9e2ec 100%);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ai-insights {
  background: #ffffff;
  border-radius: 15px;
  padding: 30px;
  margin: auto;
  max-width: 800px;
  width: 90%;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ai-insights:hover {
  transform: translateY(-5px);
}

.ai-insights h2 {
  font-size: 26px;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}

.ai-insights ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.ai-insights li {
  font-size: 18px;
  color: #555555;
  margin-bottom: 12px;
  line-height: 1.6;
  position: relative;
  padding-left: 20px;
  text-align: left;
  transition: color 0.3s ease, transform 0.3s ease;
}

.ai-insights li::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24px;
  color: #007bff;
  transform: scale(1.2);
}

.ai-insights li:hover {
  color: #007bff;
}

.ai-insights li:first-child {
  font-weight: bold;
  color: #007bff;
}

.ai-insights li.green-color {
  color: green;
}

.ai-insights li.red-color {
  color: red;
}

@media (max-width: 800px) {
  .ai-insights {
    padding: 20px;
    max-width: 90%;
  }

  .ai-insights h2 {
    font-size: 22px;
    text-align: center;
  }

  .ai-insights ul {
    text-align: center; /* Center align list items */
  }

  .ai-insights li {
    font-size: 16px;
    text-align: left; /* Reset text-align for list items */
  }
}

@media (max-width: 480px) {
  .ai-insights {
    width: 60%;
    justify-content: center;
  }

  .ai-insights h2 {
    font-size: 20px;
    text-align: center;
  }

  .ai-insights li {
    font-size: 14px;
    display: list-item;
    padding-left: 0;
    white-space: normal;
    text-align: left; /* Reset text-align for list items */
  }
}
