/* Footer.css */

.footer {
  background: linear-gradient(135deg, #e2e2ff, #f8f8ff); /* Gradient background */
  color: #00796b; /* Text color */
  padding: 10px 0;
  text-align: center;
  font-family: 'Arial, sans-serif';
  width: 1200px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-content p {
  margin: 5px 0;
  color: #00796b; /* Text color */
}

.footer-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

.footer-links a {
  color: #00796b; /* Link color */
  text-decoration: none;
  transition: transform 0.3s ease-out, color 0.3s ease-out;
}

.footer-links a:hover {
  color: #004b43; /* Hover color */
  transform: translateY(-3px); /* Move up on hover */
}

/* Animation for footer appearance */
.footer {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
