.goal-tracking-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #f9f9f9;
  max-width: 600px;
}

.goal-tracking-container h2 {
  margin-bottom: 20px;
  text-decoration: underline;
}

.new-goal-form {
  margin-bottom: 20px;
}

.goal-input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 12px);
}

.add-goal-button, .add-allocation-button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.goals-list {
  margin-top: 20px;
  padding: 20px;
}

.goal-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.progress-bar-container {
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
  height: 18px; /* Reduced height for smaller progress bar */
  margin: 10px auto; /* Center the progress bar */
  width: 30%; /* Set a smaller width for the progress bar */
}

.progress-bar {
  height: 100%;
  text-align: center;
  line-height: 15px; /* Adjusted line-height to match reduced height */
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: width 0.5s;
  background-color: #4caf50;
}

.progress-bar-low {
  color: black;
  background-color: #f44336;
}

.goal-achieved {
  font-size: 1.2em;
  color: green;
}

.additional-allocation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.additional-allocation .goal-input {
  width: 60%;
  margin-right: 10px;
}
